
<h1>{{title}}</h1>

<div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" [(ngModel)]= user.firstname
       aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name"[(ngModel)]= user.lastname
       aria-label="Last name">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <input type="number" class="form-control" placeholder="Age"[(ngModel)]= user.age
       aria-label="Age">
    </div>
  </div>
<br>
<br>

<h3>Select Gender</h3>

<div class="form-check">
  <input class="form-check-input" [(ngModel)] = user.Gender
   type="radio" name="gender" id="male" value="Male">
  <label class="form-check-label" for="male">Male</label>
</div>
<div class="form-check">
  <input class="form-check-input" [(ngModel)] = user.Gender
   type="radio" name="gender" id="female" value="Female">
  <label class="form-check-label" for="inlineRadio2">Female</label>
</div>

  <button type="button" class="btn btn-success"
      (click)="save()" >save User</button>
      <br>
      <br>
      <button type="button" class="btn btn-success"
      (click)="sort()" >sort</button>

      <ol class="list-group list-group-numbered">
        <li *ngFor="let u of users; index as i" 
          class="list-group-item">
          <span>{{u.firstname}}</span>
          <br>
          <span>{{u.lastname}}</span>
          <br>
          <span>{{u.age}}</span>
          <br>
          <span>{{u.Gender}}</span>
          <br>
          <button type="button" (click)="deleteRow(u, i)" style="margin-right: 500;" 
            class="btn btn-danger">Delete</button>
          </li>
      </ol>
 
